h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/***************************DESKTOP*****************************/



@media screen and (min-width: 501px) {


.contenedor-nota{
    margin: 4rem;


}
.contenedor-nota img{
    width: 80%;
   
}

section.otras-notas {
    margin-top: 10rem;
    padding: 4rem;
    
    width: 900px;
   height: auto;
    background-image: url(img/fondo-contendio2.png);
    background-size: cover;
    background-repeat: repeat; 
}
section.otras-notas h2{
    font-family: 'GlitchDemo' , sans-serif;
    font-size: 2rem;
    margin-top: -1rem ;
    margin-block-end: 4rem;
}

}




/********************MOBILE***********************/

@media screen and (max-width: 700px) {


    .contenedor-nota{
        margin: 1rem;
        width: 900px;
        height: 40rem;
         background-image: url(img/portada.png);
         background-size: cover;
    
    }
    .contenedor-nota img{
        width: 100%;
       
    }
    
    section.otras-notas {
        margin-top: 5rem;
        padding: 2rem;
        
        width: 270px;
       height: auto;
        background-image: url(img/fondo-contendio.png);
        background-size: cover;
        background-repeat: repeat; 
    }
    section.otras-notas h2{
        font-family: 'GlitchDemo' , sans-serif;
        font-size: 1rem;
        margin-top: -1rem ;
        margin-block-end: 2rem;
    }



}